@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Geologica:wght@100..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: 'EB Garamond';
  background: linear-gradient(135deg, #0d0d0d, #1a1a1a);
  color: #f1f1f1;  
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}




html {
  scroll-behavior: smooth;
}



.img {
  scale: 1;
  transition: all 1s;
}

.img:hover {
  scale: 1.20;
}

.brdr {
  border-bottom: solid white;
  border-bottom-width: 1px;
}

.masked-image {
  mask-image: url('/sudan-country.png');
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
}


.fancy-text {
  font-size: 120px;
  font-weight: bold;
  background-image: url('/sudan-text.jpg');
  background-size: cover;
  background-position: center;
  color: transparent;

  -webkit-background-clip: text;
  background-clip: text;

  /* Safari needs this */
  -webkit-text-fill-color: transparent;
}



.fancy {
  font-weight: bold;
  background-image: url('/sudan-text.jpg');
  background-size: cover;
  background-position: center;
  color: transparent;

  -webkit-background-clip: text;
  background-clip: text;

  /* Safari needs this */
  -webkit-text-fill-color: transparent;
}


.dif {
  font-family: sans-serif;
}


